<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

**Faizan Ansari**
<br>
I am a Student, and I want to be a Data Scientist!

*I am interested in data science because, I love to gains valuable insights from the Data! And I am also a highly curious person to know the facts behind the scenes.*

<h3> In Below Cell-5 Arithmatic Calculations are performed</h3>

In [10]:
a=20
b=10
print(f"Addition:{a+b}")
print(f"Multiplication:{a*b}")
print(f"Substraction:{a-b}")
print(f"Division:{a/b}")

Addition:30
Multiplication:200
Substraction:10
Division:2.0

<h3> 1)Bulleted List</h3>
<ul>
  <li>Data Scientist</li>
  <li>Data Analyst</li>
  <li>Data Engineer</li>
</ul>


<h3>2)Tables</h3>
<table style="width:100%">
  <tr>
    <th>Company</th>
    <th>Job Role</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>IBM</td>
    <td>Data Scientist</td>
    <td>India</td>
  </tr>
  <tr>
    <td>Google</td>
    <td>Data Analyst</td>
    <td>USA</td>
  </tr>
     <tr>
    <td>Microsoft</td>
    <td>Data Engineer</td>
    <td>Mexico</td>
  </tr>
</table>


<h3>3)Hyper Link: <a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a> </h3>